<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sku名称重新生成</title>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
</head>
<body>
    <div id="app">
        <el-form>
            <el-form-item label="分割字符">
                <el-input v-model="splitRule" placeholder="输入分割字符，获取分割字符之前的文字"></el-input>
            </el-form-item>
            <el-form-item label="">
                <el-space>
                    <el-button type="primary" @click="readFile">读取文件</el-button>
                    <el-button v-if="fileStatus" type="success" @click="exportExcel(resultData)">导出结果</el-button>
                </el-space>
            </el-form-item>
        </el-form>
        <template v-if="fileStatus">
            <el-alert :title="fileStatus" type="success" :closable="false" />
        </template>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
    <script src="./scripts/xlsx-util.js"></script>
    <script>
        const { createApp, unref, ref, computed } = Vue;
        
        createApp({
            setup() {
                const fileStatus = ref('');
                const resultData = ref([])
                const splitRule = ref('专用')

                const readFile = () => {
                    readXlsxFile()
                        .then(jsonData => {
                            // 处理数据：在“颜色/口味名（可修改）”前加上“商品标题”
                            const titles = {}
                            for (let key in jsonData) {
                                const item = jsonData[key]
                                if (titles[item['商品ID']] || titles[item['商品id']]) {
                                    continue
                                }
                                titles[item['商品ID']] = item['商品标题'].split(unref(splitRule))[0].trim()
                            }

                            const processedData = jsonData.map(row => {
                                const title = titles[row['商品ID']] || titles[row['商品id']]
                                let modifiedFlavor = ''
                                if (row['颜色/口味名（可修改）']) {
                                    modifiedFlavor = `${title}${row['颜色/口味名（可修改）']}`;
                                }

                                return {
                                    ...row,
                                    '颜色/口味名（可修改）': modifiedFlavor
                                };
                            });

                            fileStatus.value = '文件解析成功';
                            resultData.value = processedData;
                        })
                        .catch(error => console.error('Error:', error));
                }

                const exportExcel = (data, filename = '处理结果.xlsx') => {
                    const ws = XLSX.utils.json_to_sheet(data);
                    const wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, '处理结果');
                    XLSX.writeFile(wb, filename);
                }

                return {
                    splitRule,
                    fileStatus,
                    resultData,
                    readFile,
                    exportExcel
                }
            }
        }).use(ElementPlus).mount('#app');
    </script>
</body>
</html>